<section class="container">
  <article class="list-item">
    <section class="item">
      <div class="item-1">
        <span class="text-space">Mesa</span>
        <span>2-3</span>
      </div>
      <div class="item-2">
        <span class="text-space">Pedido</span>
        <span>52</span>
      </div>
      <div class="item-3">
        <div class="order color-1">
          <span>P-CER</span>
          <div class="quantity color-ligth-1">
            <span>83</span>
          </div>
        </div>

        <div class="order color-2">
          <span>P-CER</span>
          <div class="quantity color-ligth-2">
            <span>83</span>
          </div>
        </div>

        <div class="order color-3">
          <span>P-CER</span>
          <div class="quantity color-ligth-3">
            <span>83</span>
          </div>
        </div>

        <div class="order color-4">
          <span>P-CER</span>
          <div class="quantity color-ligth-4">
            <span>83</span>
          </div>
        </div>

        <div class="order color-1">
          <span>P-CER</span>
          <div class="quantity color-ligth-4">
            <span>83</span>
          </div>
        </div>

      </div>
      <div class="item-4">
        <button mat-flat-button color="primary" class="button-expand">Listo</button>
      </div>
      <div class="item-5">
        <button mat-flat-button color="warn" class="button-expand">Cancelar</button>
      </div>
    </section>

    <section class="item">
      <div class="item-1">
        <span class="text-space">Mesa</span>
        <span>2-3</span>
      </div>
      <div class="item-2">
        <span class="text-space">Pedido</span>
        <span>52</span>
      </div>
      <div class="item-3">
          <div class="order color-2">
            <span>P-CER</span>
            <div class="quantity color-ligth-2">
              <span>83</span>
            </div>
          </div>
  
          <div class="order color-4">
            <span>P-CER</span>
            <div class="quantity color-ligth-4">
              <span>83</span>
            </div>
          </div>

          <div class="order color-3">
            <span>P-CER</span>
            <div class="quantity color-ligth-3">
              <span>83</span>
            </div>
          </div>
  
      </div>
      <div class="item-4">
        <button mat-flat-button color="primary" class="button-expand">Listo</button>
      </div>
      <div class="item-5">
        <button mat-flat-button color="warn" class="button-expand">Cancelar</button>
      </div>
    </section>

    <section class="item">
      <div class="item-1">
        <span class="text-space">Mesa</span>
        <span>2-3</span>
      </div>
      <div class="item-2">
        <span class="text-space">Pedido</span>
        <span>52</span>
      </div>
      <div class="item-3">
        <div class="order color-3">
          <span>P-CER</span>
          <div class="quantity color-ligth-3">
            <span>83</span>
          </div>
        </div>

        <div class="order color-2">
          <span>P-CER</span>
          <div class="quantity color-ligth-2">
            <span>83</span>
          </div>
        </div>
  
        <div class="order color-1">
          <span>P-CER</span>
          <div class="quantity color-ligth-1">
            <span>83</span>
          </div>
        </div>
      </div>
      <div class="item-4">
        <button mat-flat-button color="primary" class="button-expand">Listo</button>
      </div>
      <div class="item-5">
        <button mat-flat-button color="warn" class="button-expand">Cancelar</button>
      </div>
    </section>
  </article>
</section>
