<section class="container" style="margin: 2em auto;">
  <article class="list-item">

    <section class="item" *ngFor="let order of orders">
      <div class="item-1">
        <span class="text-space">Mesa(s):</span>
        <span *ngIf="order.tables.length === 0" class="text-space">Llevar</span>
        <span *ngFor="let table of order.tables" class="text-space">{{ table.numTable }}</span>
      </div>
      <div class="item-2">
        <span class="text-space">Pedido:</span>
        <span>{{ order.numOrder }} </span>
      </div>
      <div class="item-3">
        <div [ngClass]="['order', 'mano', saucer.menu.category.color]" *ngFor="let saucer of order.saucers">
          <span>{{ saucer.menu.code }}... </span>
          <div [ngClass]="{'quantity': true, 'color-light': true, 'color-light-2': saucer.contain.length != saucer.menu.contain.length}">
            <span>{{saucer.quantity}} </span>
          </div>
        </div>
      </div>
      <div class="item-4">
        <button mat-flat-button color="primary" class="button-expand" (click)="hideOrder(order._id)">Listo</button>
      </div>
      <div class="item-5">
        <button mat-flat-button color="warn" class="button-expand" (click)="deleteOrder(order._id)">Cancelar</button>
      </div>
    </section>

  </article>
</section>
