<div class="navbar-top" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <img class="logo-icon" src="assets/images/logos/fuse.svg">
        <span class="logo-text secondary-text">CONDOR CAFE</span>
    </div>

    <div class="buttons">

        <button mat-icon-button class="toggle-sidebar-folded"
                (click)="toggleSidebarFolded()" fxHide.lt-lg>
              <span class="site-menu site-menu-white" role="image">
                <svg viewBox="0 0 27 18.5" width="100%" height="100%"><path fill="none" d="M1.2 1.2h16.6M1.2 9.2h24.6M1.2 17.2h16.6"></path></svg>
              </span>
        </button>

        <button mat-icon-button class="toggle-sidebar-opened"
                (click)="toggleSidebarOpened()" fxHide.gt-md>
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>

    </div>

</div>


<div class="navbar-scroll-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground"
     fusePerfectScrollbar [fusePerfectScrollbarOptions]="{suppressScrollX: true}">

    <div class="user" fxLayout="column" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">

        <div class="h3 username">Condor Cafe</div>
        <div class="h5 email hint-text mt-8">condorcafe2018@gmail.com</div>
        <div class="avatar-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground">
            <img class="avatar" src="assets/img/avatar.png">
        </div>

    </div>

    <div class="navbar-content">
        <fuse-navigation layout="vertical"></fuse-navigation>
    </div>

</div>
