<div mat-dialog-content>
  <h2>PEDIDOS ELIMINADOS</h2>
  <div *ngFor="let del of deleted" class="contentDel">
    <h3 class="tables">
      <strong> Mesa(s): </strong>
      <span *ngFor="let mesa of del.tables">{{ mesa.numTable }}</span>
      <strong *ngIf="del.carry">Para llevar</strong>
    </h3>
    <h3 class="order"><span class="left"><strong>Pedido: </strong>{{ del.numOrder }}</span> <span class="rigth"><strong>Fecha: </strong>{{ del.fecha | date: 'dd/MM/yyyy hh:mm:ss a' : '+0000' }}</span></h3>
    <table mat-table [dataSource]="del.saucers" class="mat-elevation-z8">
  
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Cant. </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.nameSaucer}}</td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <h3 class="total"><strong>TOTAL: </strong>{{ del.total }}</h3>
  </div>
  <br>
  <br>
  <br>
  <hr>
  <hr>
  <br>
  <br>
  <h2>PEDIDOS NO ARCHIVADOS</h2>
  <div *ngFor="let del of notArchived" class="contentDel">
    <h3 class="tables">
      <strong> Mesa(s): </strong>
      <span *ngFor="let mesa of del.tables">{{ mesa.numTable }}</span>
      <strong *ngIf="del.carry">Para llevar</strong>
    </h3>
    <h3 class="order"><span class="left"><strong>Pedido: </strong>{{ del.numOrder }}</span> <span class="rigth"><strong>Fecha: </strong>{{ del.fecha | date: 'dd/MM/yyyy hh:mm:ss a' : '+0000' }}</span></h3>
    <table mat-table [dataSource]="del.saucers" class="mat-elevation-z8">
  
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Cant. </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.nameSaucer}}</td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <h3 class="total"><strong>TOTAL: </strong>{{ del.total }}</h3>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</div>