<section class="container grid-caja" style="margin: 2em auto;">
  <article class="sec-1">
    <div class="ms mesa2 mesa-9" (click)="onSelect(dataSource[8]._id)">
      <div class="ms-number">9</div>
      <div class="ms-cap-3"><span>0</span>/6</div>
    </div>
    <div class="ms ms-redonda mesa-8" (click)="onSelect(dataSource[7]._id)">
      <div class="ms-number">8</div>
      <div class="ms-cap-2"><span>0</span>/6</div>
    </div>
    <div class="ms mesa2 mesa-7" (click)="onSelect(dataSource[6]._id)">
      <div class="ms-number">7</div>
      <div class="ms-cap-3"><span>0</span>/4</div>
    </div>
    <div class="ms mesa2 mesa-10" (click)="onSelect(dataSource[9]._id)">
      <div class="ms-number">10</div>
      <div class="ms-cap-3"><span>0</span>/2</div>
    </div>
    <div class="ms mesa2 mesa-13" (click)="onSelect(dataSource[12]._id)">
      <div class="ms-number">13</div>
      <div class="ms-cap-3"><span>0</span>/4</div>
    </div>
    <div class="ms mesa2 mesa-11" (click)="onSelect(dataSource[10]._id)">
      <div class="ms-number">11</div>
      <div class="ms-cap-3"><span>0</span>/6</div>
    </div>
    <div class="ms mesa2 mesa-12" (click)="onSelect(dataSource[11]._id)">
      <div class="ms-number">12</div>
      <div class="ms-cap-3"><span>0</span>/4</div>
    </div>
  </article>
  <article class="sec-2">
    <div class="ms mesa1 mesa-4" (click)="onSelect(dataSource[3]._id)">
      <div class="ms-number">4</div>
      <div class="ms-cap-1"><span>0</span>/4</div>
    </div>
    <div class="ms ms-redonda mesa-6" (click)="onSelect(dataSource[5]._id)">
      <div class="ms-number">6</div>
      <div class="ms-cap-2"><span>0</span>/6</div>
    </div>
    <div class="ms mesa1 mesa-3" (click)="onSelect(dataSource[2]._id)">
      <div class="ms-number">3</div>
      <div class="ms-cap-1"><span>0</span>/4</div>
    </div>
    <div class="ms mesa1 mesa-5" (click)="onSelect(dataSource[4]._id)">
      <div class="ms-number">5</div>
      <div class="ms-cap-1"><span>0</span>/4</div>
    </div>
    <div class="ms mesa1 mesa-2" (click)="onSelect(dataSource[1]._id)">
      <div class="ms-number">2</div>
      <div class="ms-cap-1"><span>0</span>/4</div>
    </div>
    <div class="bar-2">
      <div class="silla-v bar-item-1"></div>
      <div class="ms bar bar-item-2" (click)="onSelect(dataSource[29]._id)">
        <h3>BARRA  2</h3>
      </div>
      <div class="silla-v bar-item-3"></div>
      <div class="silla-v bar-item-4"></div>
      <div class="silla-v bar-item-5"></div>
    </div>
    <div class="ms mesa1 mesa-1" (click)="onSelect(dataSource[0]._id)">
      <div class="ms-number">1</div>
      <div class="ms-cap-1"><span>0</span>/4</div>
    </div>
  </article>
  <article class="sec-3">
    <div class="ms patio patio-6" (click)="onSelect(dataSource[18]._id)">
      <div class="ms-number">P6</div>
      <div class="ms-cap-4"><span>0</span>/4</div>
    </div>
    <div class="ms patio patio-1" (click)="onSelect(dataSource[13]._id)">
      <div class="ms-number">P1</div>
      <div class="ms-cap-4"><span>0</span>/4</div>
    </div>
    <div class="ms patio patio-7" (click)="onSelect(dataSource[19]._id)">
      <div class="ms-number">P7</div>
      <div class="ms-cap-4"><span>0</span>/4</div>
    </div>
    <div class="ms patio patio-2" (click)="onSelect(dataSource[14]._id)">
      <div class="ms-number">P2</div>
      <div class="ms-cap-4"><span>0</span>/4</div>
    </div>
    <div class="ms patio patio-8" (click)="onSelect(dataSource[20]._id)">
      <div class="ms-number">P8</div>
      <div class="ms-cap-4"><span>0</span>/4</div>
    </div>
    <div class="ms patio patio-3" (click)="onSelect(dataSource[15]._id)">
      <div class="ms-number">P3</div>
      <div class="ms-cap-4"><span>0</span>/4</div>
    </div>
    <div class="ms patio patio-9" (click)="onSelect(dataSource[21]._id)">
      <div class="ms-number">P9</div>
      <div class="ms-cap-4"><span>0</span>/4</div>
    </div>
    <div class="ms patio patio-4" (click)="onSelect(dataSource[16]._id)">
      <div class="ms-number">P4</div>
      <div class="ms-cap-4"><span>0</span>/4</div>
    </div>
    <div class="ms patio patio-10" (click)="onSelect(dataSource[22]._id)">
      <div class="ms-number">P10</div>
      <div class="ms-cap-4"><span>0</span>/4</div>
    </div>
    <div class="ms patio patio-5" (click)="onSelect(dataSource[17]._id)">
      <div class="ms-number">P5</div>
      <div class="ms-cap-4"><span>0</span>/4</div>
    </div>
  </article>
  <article class="sec-4">
    <div class="sillas">
      <div class="silla-h"></div>
      <div class="silla-h"></div>
      <div class="silla-h"></div>
      <!-- <div class="silla-h"></div>
      <div class="silla-h"></div> -->
    </div>
    <div class="ms bar bar-1" (click)="onSelect(dataSource[28]._id)">
      <h3>BARRA 1</h3>
    </div>
    <div class="menu-cj">
      <div></div>
      <figure class="mano">
        <img src="../../../assets/img/monitor.png" alt="monitor">
      </figure>
      <div class="btn-caja">
        <button mat-fab color="basic">+</button>
      </div>
      <div class="btn-caja">
        <button mat-fab color="primary">+</button>
      </div>
      <div class="btn-caja">
        <button mat-fab color="accent">+</button>
      </div>
      <div class="btn-caja">
        <button mat-fab color="warn">+</button>
      </div>
    </div>
    <div class="avatar-cj">
      <figure>
        <img src="../../../assets/img/avatar.png" alt="avatar">
      </figure>
    </div>
    <div class="detail-cj">
      <div class="description">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quo obcaecati est aliquam architecto iste omnis maxime fugit nisi nihil in eum quod delectus, accusamus nam neque. Culpa, unde reiciendis!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio delectus id repellat eligendi nisi ullam cupiditate vitae, cumque ex aut eveniet quis velit neque optio, consequatur nobis, magni sapiente voluptas?
        </p>
      </div>
    </div>
  </article>
  <article class="sec-5">
    <div class="ms ms-extra ms-extra-1" (click)="onSelect(dataSource[23]._id)">
      <div class="ms-number">X1</div>
      <div class="ms-cap-x"><span>0</span>/4</div>
    </div>
    <div class="ms ms-extra ms-extra-2" (click)="onSelect(dataSource[24]._id)">
      <div class="ms-number">X2</div>
      <div class="ms-cap-x"><span>0</span>/4</div>
    </div>
    <div class="ms ms-extra ms-extra-3" (click)="onSelect(dataSource[25]._id)">
      <div class="ms-number">X3</div>
      <div class="ms-cap-x"><span>0</span>/4</div>
    </div>
    <div class="ms ms-extra ms-extra-4" (click)="onSelect(dataSource[26]._id)">
      <div class="ms-number">X4</div>
      <div class="ms-cap-x"><span>0</span>/4</div>
    </div>
    <div class="ms ms-extra ms-extra-5" (click)="onSelect(dataSource[27]._id)">
      <div class="ms-number">X5</div>
      <div class="ms-cap-x"><span>0</span>/4</div>
    </div>
  </article>
</section>
