<div class="list-orders">
  <ul class="orders">
    <li *ngFor="let order of orders">
      <div class="badge mano" (click)="hideOrder(order._id)">{{ order.numOrder }}</div>
      <a class="content" style="text-decoration:none;"> <!--routerLink="/orden/detalle/{{order._id}}"-->
        <div>
          <span class="great" *ngIf="order.carry">Llevar</span>
          Mesa(s): <span class="great" *ngFor="let table of order.tables">{{ table.numTable }}</span>
          Comensales: <span class="great">{{ order.numPeople }}</span>
        </div>
      </a>
      <div class="buttons">
        <button class="buttonModal" title="pedido cocina" (click)="cocina(order)">Cocina</button>
        <button class="buttonModal" title="extracto de cuenta" (click)="cuentaDialog(order)">Cuenta</button>
        <button class="buttonModal" title="realizar pago" (click)="pagoDialog(order)">Pago</button>
      </div>
    </li>
  </ul>
</div>
