<div class="list-orders">
  <ul class="orders">
    <li *ngFor="let order of orders">
      <div class="badge">{{ order.numOrder }}</div>
      <a class="content" routerLink="/orden/detalle/{{order._id}}" style="text-decoration:none;">
        <div>
          <span class="great" *ngIf="order.carry">Llevar</span>
          Mesa(s): <span class="great" *ngFor="let table of order.tables">{{ table.numTable }}</span>
          Comensales: <span class="great">{{ order.numPeople }}</span>
        </div>
      </a>
      <div class="buttons">
        <button class="delete" title="realizar pago" (click)="openDialog()">Cuenta</button>
      </div>
    </li>
  </ul>
</div>
