<section class="container">
  <article class="list-item">
    <section class="item">
      <div class="badge">
        <figure class="icon-select">
          <img [src]="'./assets/img/plato2.png'" alt="">
        </figure>
      </div>
      <div class="title">
        <h3>Nombre del plato</h3>
      </div>
      <div class="detail">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam accusamus voluptatum, voluptas fugit porro et architecto.
        </p>
      </div>
      <div class="action">
        <span>
          <i class="icon-chevron-up"></i>
        </span>
        <span class="count"> 1 </span>
        <span>
          <i class="icon-chevron-down"></i>
        </span>
      </div>
    </section>
    
    <section class="item">
      <div class="badge">
        <figure class="">
          <img [src]="'./assets/img/plato2.png'" alt="">
        </figure>
      </div>
      <div class="title">
        <h3>Nombre del plato</h3>
      </div>
      <div class="detail">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam accusamus voluptatum, voluptas fugit porro et architecto.
        </p>
      </div>
      <div class="action">
        <span>
          <i class="icon-chevron-up"></i>
        </span>
        <span class="count"> 0 </span>
        <span>
          <i class="icon-chevron-down"></i>
        </span>
      </div>
    </section>

    <section class="item">
      <div class="badge">
        <figure class="icon-select">
          <img [src]="'./assets/img/plato2.png'" alt="">
        </figure>
      </div>
      <div class="title">
        <h3>Nombre del plato</h3>
      </div>
      <div class="detail">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam accusamus voluptatum, voluptas fugit porro et architecto.
        </p>
      </div>
      <div class="action">
        <span>
          <i class="icon-chevron-up"></i>
        </span>
        <span class="count"> 2 </span>
        <span>
          <i class="icon-chevron-down"></i>
        </span>
      </div>
    </section>
  </article>
</section>
