.container {
  margin: 32px auto;
  width: 90%;
}

.list-item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 15px;
}

.item {
  background-color: #ffcc8047;
  display: grid;
  grid-template: 70px / 170px 1fr 70px;
  grid-gap: 10px;
  grid-template-areas: "badge title action"
                       "badge detail action";
  border-radius: 10px;
  padding: 15px;
}

.badge {
  grid-area: badge;
}

.badge figure {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge figure img {
  height: auto;
}
.icon-select {
  position: relative;
  height: 100%;
}
.icon-select:before {
  content: "\e904";
  font-size: 10em;
  color: #263238cf;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge figure img {
  width: 100%;
  vertical-align: top;
}

.title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail {
  grid-area: detail;
  padding: 10px;
}
.detail p {
  margin: 0;
}

.action {
  grid-area: action;
  font-size: 3em;
  text-align: center;
  margin: auto;
}
.action .count {
  font-weight: 200;
  display: block;
  padding: 10px 0;
}
.action span i {
  font-weight: bold;
}


@media screen and (max-width: 650px) {
  .list-item {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .item {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    grid-template-areas: "title title"
                         "badge action"
                         "badge detail";
  }

  .action {
    font-size: 2.7em;
  }
  .action .count {
    display: inline;
    padding: 0 5px;
  }
  .icon-chevron-down:before {
    content: "\e903";
  }
  .icon-chevron-up:before {
    content: "\e902";
  }
}

@media screen and (max-width: 460px) {
  .item {
    grid-template-rows: auto;
    grid-template-areas: "action action"
                         "badge badge"
                         "badge badge"
                         "title title"
                         "detail detail";
  }
  .action .count {
    padding: 0 30px;
  }
}
