<div mat-dialog-content>
  <h2>INGRESE EXTRA</h2>
    <div class="form-grupper-short line-block">
      <mat-form-field fxFlex="100" class="form-grupper-item">
        <input matInput [(ngModel)]="data.price" placeholder="Bs.-" type="number" class="example-right-align">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
    </div>

    <div class="line-block">
      <mat-form-field class="form-grupper-item">
        <input placeholder="Introduzca nombre" type="text" matInput [(ngModel)]="data.name">
      </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No gracias</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Listo</button>
</div>
