<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

  <!-- HEADER -->
  <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column" fxLayoutAlign="center start">
          <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="secondary-text s-18">home</mat-icon>
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span class="secondary-text">Usuario</span>
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span class="secondary-text">Registrar</span>
          </div>
          <div class="h1 mt-16">Nuevo Usuario</div>
      </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24">

      <div class="vertical-stepper-wrapper">

          <!-- VERTICAL STEPPER EXAMPLE -->
          <mat-vertical-stepper class="mat-elevation-z4" [linear]="true">

              <mat-step [stepControl]="verticalStepperStep1">

                  <form fxLayout="column" [formGroup]="verticalStepperStep1">

                      <ng-template matStepLabel>Identidad</ng-template>

                      <div fxFlex="1 0 auto" fxLayout="column">

                          <mat-form-field fxFlex="100">
                              <input matInput placeholder="Carnet de Identidad" formControlName="ci" required>
                              <mat-error>El Carnet de Identidad es Obligario!</mat-error>
                          </mat-form-field>

                          <mat-form-field fxFlex="100">
                            <mat-select placeholder="Expedido" formControlName="exp">
                              <mat-option *ngFor="let city of cities" [value]="city.value">
                                {{city.viewValue}}
                              </mat-option>
                            </mat-select>
                            <mat-error>Indique fue expedido su carnet.</mat-error>
                          </mat-form-field>

                      </div>

                      <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                          <button mat-raised-button matStepperNext type="button" color="accent">
                              Siguiente
                          </button>
                      </div>

                  </form>

              </mat-step>

              <mat-step [stepControl]="verticalStepperStep2">

                  <form fxLayout="column" [formGroup]="verticalStepperStep2">

                      <ng-template matStepLabel>Datos Principales</ng-template>

                      <div fxFlex="1 0 auto" fxLayout="column">

                          <mat-form-field fxFlex="100">
                              <input matInput placeholder="Nombres" formControlName="firstName" required>
                              <mat-error>Tu(s) Nombre(s) es Importante.</mat-error>
                          </mat-form-field>

                          <mat-form-field fxFlex="100">
                              <input matInput placeholder="Apellidos" formControlName="lastName" required>
                              <mat-error>Tu(s) Apellido(s) es Importante.</mat-error>
                          </mat-form-field>

                          <div>
                            <label for="">Genero: </label>
                            <mat-radio-group class="user-radio-group" formControlName="gender">
                              <mat-radio-button class="user-radio-button" *ngFor="let gender of genders; let i=index" [value]="gender.value" [checked]="i === 0" required>
                                {{gender.viewValue}}
                              </mat-radio-button>
                            </mat-radio-group>
                          </div>

                          <mat-form-field fxFlex="100">
                              <input matInput placeholder="Correo Electronico" [email]="true" formControlName="email" required>
                              <mat-error>Ingresa tu Correo Electronico.</mat-error>
                          </mat-form-field>

                          <mat-form-field fxFlex="100">
                              <input matInput type="password" placeholder="Contraseña" formControlName="password" required>
                              <mat-error>Ingresa tu Contraseña.</mat-error>
                          </mat-form-field>

                      </div>

                      <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                          <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                              Anterior
                          </button>
                          <button mat-raised-button matStepperNext type="button" color="accent">
                              Siguiente
                          </button>
                      </div>

                  </form>

              </mat-step>

              <mat-step [stepControl]="verticalStepperStep3">

                  <form fxLayout="column" [formGroup]="verticalStepperStep3">

                      <ng-template matStepLabel>Datos Secundarios</ng-template>

                      <div fxFlex="1 0 auto" fxLayout="column">

                          <mat-form-field fxFlex="100" class="example-full-width">
                            <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" formControlName="birthday">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                            <mat-error>Ingrese Fecha de Nacimiento.</mat-error>
                          </mat-form-field>

                          <mat-form-field fxFlex="100">
                              <input matInput placeholder="Dirección" formControlName="address" required>
                              <mat-error>Ingrese Dirección.</mat-error>
                          </mat-form-field>

                          <mat-form-field fxFlex="100">
                              <input matInput type="number" placeholder="Número de Celular" formControlName="cellphone" required>
                              <mat-error>Ingrese Número de Celular.</mat-error>
                          </mat-form-field>

                      </div>

                      <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                          <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                              Anterior
                          </button>
                          <button mat-raised-button matStepperNext type="button" color="accent">
                              Siguiente
                          </button>
                      </div>

                  </form>

              </mat-step>

              <mat-step>

                  <ng-template matStepLabel>Done</ng-template>

                  <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
                      Thank your for filling out our form.
                  </div>

                  <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                      <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                          Previous
                      </button>
                      <button mat-raised-button type="button" color="accent" (click)="finishVerticalStepper()">
                          Finish
                      </button>
                  </div>

              </mat-step>

          </mat-vertical-stepper>
          <!-- / VERTICAL STEPPER EXAMPLE -->

      </div>

  </div>
  <!-- / CONTENT -->

</div>