@import "src/@fuse/scss/fuse";

.prepare-header{
  background: #3F51B5;
  padding: 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}
.prepare-header-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "pedido pedido"
                       "mesas comensales"
                       "llevar llevar";
  gap:10px;
}

.prepare-header-pedido{
  grid-area: pedido;
  text-align: center;
}

.prepare-header-comensales{
  grid-area: comensales;
}

.prepare-header-mesas{
  grid-area: mesas;
}

.prepare-header-llevar{
  grid-area: llevar;
  text-align: center;
}

/* forms */
.form-inline{
  display: inline-block;
}
.form-title{
  color: #fff;
}
.form-label{
  display: inline-block;
  font-size: 20px;
  color:#fff;
}
.form-chip{
  display: inline-block;
  background: #d7d7d7;
  color: #2d2d2d;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 15px;
  margin-left: 15px;
}
.form-add{
  margin-left: 15px;
}
.form-input-number{
  padding: 5px;
  border-radius: 6px;
  margin-left: 15px;
  width: 60px;
  font-size: 16px;
}   