<div id="prepareOrder" class="page-layout simple">

  <!-- HEADER -->
  <div class="prepareOrder-container">

    <div class="prepare-header">
      <div class="prepare-header-container">
        <!-- numero -->
        <div class="prepare-header-numero">
          <div class="form-inline">
            <h1 class="form-title form-title-pedido">
              Pedido Nro. 0000015
            </h1>
          </div>         
        </div>

        <!-- mesas -->
        <div class="prepare-header-mesas">
            <div class="form-inline">
              <h4 class="form-label">
                Mesas
              </h4>
              <span class="form-chip" *ngFor="let tb of tables">
                {{ tb.numTable }}
              </span>
              <button mat-mini-fab class="form-add">
                <mat-icon aria-label="Agregar mesa">add</mat-icon>
              </button>
            </div>          
        </div>

        <!-- comensales -->
        <div class="prepare-header-comensales">
            <div class="form-inline">
              <h4 class="form-label">
                Comensales
              </h4>
              <input type="number" id="comensales" class="form-input-number">
              <button mat-mini-fab class="form-add">
                <mat-icon aria-label="Agregar mesa">add</mat-icon>
              </button>
              <button mat-mini-fab color="warn" class="form-add">
                  <mat-icon aria-label="Agregar mesa">remove</mat-icon>
              </button>
            </div>          
        </div>

        <!-- pedido -->
        <div class="prepare-header-pedido">

          <div class="mesas-container" [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
            <div class="mesas-list">
              <!-- list items -->
              <div class="item-3">

                <div class="order color-3">
                  <span>P-CER</span>
                  <div class="quantity color-light">
                    <span>83</span>
                  </div>
                </div>
        
                <div class="order color-2">
                  <span>P-CER</span>
                  <div class="quantity color-light">
                    <span>83</span>
                  </div>
                </div>
          
                <div class="order color-1">
                  <span>P-CER</span>
                  <div class="quantity color-light">
                    <span>83</span>
                  </div>
                </div>

            </div>
          </div>

        </div>

        <!-- llevar -->
        <div class="prepare-header-llevar">
          <div class="form-inline">
            <div class="form-big">
              <mat-slide-toggle [color]="warn">
                <h1 class="form-title">Llevar</h1>
              </mat-slide-toggle>
            </div>
          </div>
        </div>
        
        <!-- Guardar Pedido -->
        <div class="prepare-header-guardar">
          <button mat-raised-button class="form-btn-big" color="accent">
              Terminar Pedido
          </button>
        </div>

      </div>
    </div>

  </div>

  <!-- Search -->

  <div class="order-container" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxLayout="row" fxLayoutAlign="center" fxFlex="80%">
          <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="todosd">Todos</mat-button-toggle>
            <mat-button-toggle value="extras">Extras</mat-button-toggle>
            <mat-button-toggle value="bebidas_calientes">Bebidas Calientes</mat-button-toggle>
            <mat-button-toggle value="bebidas_frias">Bebidas Frias</mat-button-toggle>
          </mat-button-toggle-group>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
          <mat-form-field fxFlex="80%">
              <input matInput class="input-prepare" type="search" autocomplete="off" placeholder="Buscar">
              <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
      </div>
  </div>

  <!-- List Products -->
  <section class="waiter-container" style="margin: 2em auto;">
      <article class="waiter-list-item">
        <section class="waiter-item">
          <div class="waiter-badge">
            <figure class="waiter-icon-select">
              <img [src]="'./assets/img/plato2.png'" alt="">
            </figure>
          </div>
          <div class="waiter-title">
            <h3>Nombre del plato</h3>
          </div>
          <div class="waiter-detail">
              <mat-chip-list>
                <mat-chip (click)="test()">Default</mat-chip>
                <mat-chip color="default" selected>Item 2</mat-chip>
                <mat-chip color="default" selected>Item 3</mat-chip>
              </mat-chip-list>
          </div>
          <div class="waiter-action">
            <span>
              <i class="icon-chevron-up"></i>
            </span>
            <span class="waiter-count"> 1 </span>
            <span>
              <i class="icon-chevron-down"></i>
            </span>
          </div>
        </section>
      </article>
  </section>

</div>