<div id="prepareOrder" class="page-layout simple">

  <!-- HEADER -->
  <div class="prepareOrder-container">

    <div class="prepare-header">
      <div class="prepare-header-container">
        <!-- pedido -->
        <div class="prepare-header-pedido">
          <div class="form-inline">
            <h1 class="form-title">
              Pedido Nro. 0000015
            </h1>
          </div>         
        </div>

        <!-- mesas -->
        <div class="prepare-header-mesas">
            <div class="form-inline">
              <h4 class="form-label">
                Mesas
              </h4>
              <span class="form-chip">
                1
              </span>
              <button mat-mini-fab class="form-add">
                <mat-icon aria-label="Agregar mesa">add</mat-icon>
              </button>
            </div>          
        </div>

        <!-- comensales -->
        <div class="prepare-header-comensales">
            <div class="form-inline">
              <h4 class="form-label">
                Comensales
              </h4>
              <input type="number" id="comensales" class="form-input-number">
              <button mat-mini-fab class="form-add">
                <mat-icon aria-label="Agregar mesa">add</mat-icon>
              </button>
              <button mat-mini-fab color="warn" class="form-add">
                  <mat-icon aria-label="Agregar mesa">remove</mat-icon>
              </button>
            </div>          
        </div>

        <!-- llevar -->
        <div class="prepare-header-llevar">
          <div class="form-inline">
            <h4 class="form-label">
              <mat-slide-toggle>Llevar</mat-slide-toggle>
            </h4>
          </div>
        </div>

      </div>
    </div>

  </div>
  <!-- HEADER -->
  <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

      <div class="hero-text">
          <mat-icon class="hero-icon">attach_money</mat-icon>
          <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
              Pedido Nro XXXX
          </h1>
          
          <div class="container-order" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
            <form 
              (ngSubmit)="onSubmit(f)"
              [formGroup]="form"
              fxLayout="column" 
              name="form" 
            >
              <div fxLayout="row" fxLayoutAlign="space-between center">
                  <mat-form-field fxFlex="100">
                      <input matInput class="input-prepare" type="number" autocomplete="off" placeholder="Mesas" formControlName="mesas" required>
                      <mat-error>Ingrese número de mesas.</mat-error>
                  </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="space-between center">
                  <mat-form-field fxFlex="100">
                      <input matInput class="input-prepare" type="number" autocomplete="off" placeholder="Comensales" formControlName="comensales" required>
                      <mat-error>Ingrese número de comensales.</mat-error>
                  </mat-form-field>
              </div>

              <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                  Lista de Pedidos
              </h3>
              <div class="mesas-container" [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                <div class="mesas-list">
    
                  <div class="mesas-item">
                    <h3>TUC</h3>
                    <div class="mesas-number">2</div>
                  </div>
    
                  <div class="mesas-item">
                    <h3>TE-01</h3>
                    <div class="mesas-number">1</div>
                  </div>
    
                  <div class="mesas-item">
                    <h3>JU-02</h3>
                    <div class="mesas-number">3</div>
                  </div>

                  <div class="mesas-item">
                    <h3>CA-01</h3>
                    <div class="mesas-number">4</div>
                  </div>

                  <div class="mesas-item">
                    <h3>MO-TA</h3>
                    <div class="mesas-number">10</div>
                  </div>
  
                  <div class="mesas-item">
                    <h3>Ga-Ry</h3>
                    <div class="mesas-number">Gay</div>
                  </div>

                  <div class="mesas-item">
                    <h3>PU-TO</h3>
                    <div class="mesas-number">Gary</div>
                  </div>
                </div>
              </div>

            </form>
          </div>
      </div>
    </div>

    <!-- Buscador -->

    <div class="container-order" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxLayout="row" fxLayoutAlign="center" fxFlex="80%">
            <mat-chip-list>
              <mat-chip (click)="test()">Default</mat-chip>
              <mat-chip color="primary" selected>Item 2</mat-chip>
              <mat-chip color="accent" selected>Item 3</mat-chip>
            </mat-chip-list>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
            <mat-form-field fxFlex="80%">
                <input matInput class="input-prepare" type="search" autocomplete="off" placeholder="Buscar">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
    </div>
    
    <!-- List of Products -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="center">


            <div class="courses" fxLayout="row wrap" fxLayoutAlign="center" [@animate]="{value:'50'}">

              <!-- Component -->
              <section class="waiter-container" style="margin: 2em auto;">
                  <article class="waiter-list-item">
                    <section class="waiter-item">
                      <div class="waiter-badge">
                        <figure class="waiter-icon-select">
                          <img [src]="'./assets/img/plato2.png'" alt="">
                        </figure>
                      </div>
                      <div class="waiter-title">
                        <h3>Nombre del plato</h3>
                      </div>
                      <div class="waiter-detail">
                          <mat-chip-list>
                            <mat-chip (click)="test()">Default</mat-chip>
                            <mat-chip color="primary" selected>Item 2</mat-chip>
                            <mat-chip color="accent" selected>Item 3</mat-chip>
                          </mat-chip-list>
                      </div>
                      <div class="waiter-action">
                        <span>
                          <i class="icon-chevron-up"></i>
                        </span>
                        <span class="waiter-count"> 1 </span>
                        <span>
                          <i class="icon-chevron-down"></i>
                        </span>
                      </div>
                    </section>
                  </article>
              </section>

            </div>

        </div>

    </div>
    <!-- / end list-products -->
</div>