<div class="content-list">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      
      <!-- Picture Column -->
      <ng-container matColumnDef="picture">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Foto </th>
        <td mat-cell *matCellDef="let row"> 
          <figure style="width: 120px;">
              <img [src]="'assets/img/menu/'+row.src">
          </figure>
        </td>
      </ng-container>
      
      <!-- Code Column -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
        <td mat-cell *matCellDef="let row"> {{row.code}} </td>
      </ng-container>
      
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          class="mano"
          [routerLink]="'/menu/update/'+row._id">
      </tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>