<h2 mat-dialog-title>
  Extracto de cuenta
</h2>

<div mat-dialog-content>
  <h3 class="tables">
    <strong> Mesa(s): </strong>
    <span *ngFor="let mesa of data.tables">{{ mesa.numTable }}</span>
    <strong *ngIf="data.carry">Para llevar</strong>
  </h3>
  <h3 class="order"><span class="left"><strong>Pedido: </strong>{{ data.numOrder }}</span> <span class="rigth"><strong>Fecha: </strong>{{ data.createdAt | date: 'short' }}</span></h3>
  <table mat-table [dataSource]="data.saucers" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Cant. </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let element"> {{element.menu.name}} ({{element.namePrice}}) <span *ngFor="let ex of element.extra">+{{ex.price}} {{ex.name}} </span></td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <h3 class="total"><strong>TOTAL: </strong>{{ total }}</h3>

</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="save()">Save</button>
</div>
